<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <h1>All Articles: (<%= artNum%>)</h1>
      <hr>
      <div style="background: orange; color: darkblue; padding: 20px;">
    <%for( let article of allArticles) { %>
      <h1> Title :: <%= article.title%></h1>
      <h4>Body : <%= article.body%></h4>
      <h5>Liks : <%= article.numberOfLikes%></h5>
      <br>
    <hr>
      <% } %>
      </div>
      
</body>
</html>